@unocss;

:root {
  --background: 360, 100%, 100%;
  --foreground: 240, 14%, 22%;
  --muted-background: 0, 0%, 98%;
  --muted-foreground: 247, 4%, 53%;
  --primary-foreground: 220, 100%, 60%;
  --primary-background: 240, 100%, 94%;
  --primary-background-active: 240, 100%, 89%;
  --secondary-foreground: 10, 100%, 59%;
  --secondary-background: 8, 100%, 95%;
  --secondary-background-active: 8, 100%, 90%;
  --gray-foreground: 0, 0%, 60%;
  --gray-background: 0, 0%, 90%;
}

[data-theme='dark'] {
  --background: 239, 10%, 6%;
  --foreground: 240, 100%, 97%;
  --muted-background: 360, 0%, 13%;
  --muted-foreground: 0, 0%, 60%;
  --primary-background: 240, 15%, 23%;
  --primary-background-active: 240, 15%, 18%;
  --secondary-background: 7, 22%, 23%;
  --secondary-background-active: 7, 22%, 18%;
  --gray-background: 0, 0%, 40%;
}

@property --faded-start {
  syntax: '<color>';
  initial-value: #fff0;
  inherits: false;
}

@property --faded-end {
  syntax: '<color>';
  initial-value: #fff;
  inherits: false;
}

.ease-jump {
  transition-timing-function: cubic-bezier(0.36, 0, 0.66, -0.56) !important;
}

.gradient-fade-left,
.gradient-fade-right {
  --faded-end: hsl(var(--background));
  transition: --faded-start 300ms, --faded-end 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gradient-fade-left {
  background: linear-gradient(270deg, var(--faded-start), var(--faded-end));
}

.gradient-fade-right {
  background: linear-gradient(90deg, var(--faded-start), var(--faded-end));
}

@keyframes logo-slider-animation {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.logo-slider {
  animation: logo-slider-animation 30s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
